@charset "utf-8";
/* CSS Document by cjy */
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0;
  padding: 0;
}
html {
  display: inline-block;
  width: 100%;
}
img {
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  border: 0;
}
strong {
  font-weight: bold;
}
ul,
ol,
li,
dt,
dd {
  list-style: none;
}
em,
i {
  font-style: normal;
}
.dis-in-b {
  display: inline-block;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
